version: '3'

services:
  # ------------
  # Service Web
  # ------------
  web:
    container_name: CTF-IDOR-WEB
    build: .
    ports:
      - "5000:5000"
    env_file:
      - .env
    volumes:
      - ./app:/app

  # ------------------------
  # Services Base de données
  # ------------------------
  database:
    container_name: CTF-IDOR-DB
    image: mysql:5.7
    # Chargement du fichier .env pour les identifiants du serveur
    env_file:
      - .env
    # Volumes utilisés
    volumes:
      - ./mysql_data:/var/lib/mysql
      # Script utilisé au premier lancement du service
      # Création de la structure et des données
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql